<!DOCTYPE html>
<html>
<head>
<title>Puto idiota</title>
</head>
<body>

<table border="1" width="960px" height="800px">
    <tr>
        <td colspan="2" height="50px">Fila 1 - Columnas</td>
    </tr>
    <tr>
        <td width="25%" height="300px">Fila 2 - Columna 1</td>
        <td width="50%" height="300px">Fila 2 - Columna 2</td>
        <td width="25%" height="300px">Fila 2 - Columna 3</td>
    </tr>
    <tr>
        <td colspan="3" height="50px">Fila 3 </td>
    </tr>
</table>

</body>
</html>